In [4]:
import pandas as pd

In [5]:
sheet_id = "11zkegb8A1FBMx9_O9nG6gadnKBhZe-r7-Grzj3oB09w"
sheet_name = "BEDS"
url = f"https://docs.google.com/spreadsheets/d/{sheet_id}/gviz/tq?tqx=out:csv&sheet={sheet_name}"

In [6]:
df=pd.read_csv(url)

In [7]:
# df.columns

In [8]:
## Temp Columns Name
tmp_col_names = ['Facility provided', 'District.1',
       'Name of the Organisation/Contact Person ', 'Location',
       'Contact number ', 'Verification  Status', 'Verification time',
       'Availability Status', 'Comments', 'Status']

In [9]:
## Delete Unnecessary columns
for i in df.columns:
    if i not in tmp_col_names:
        try :
            del df[f"{i}"]
        
        except Exception as e:
            print(f"Error in deelting {i} row")

no_of_rows = df.shape[0]

In [10]:
df = df[df["Facility provided"].apply(lambda x : str(x).lower() == "beds" or str(x).lower() == "bed")]

In [11]:
df["Availability Status"][0] != df["Availability Status"][0]

True

In [12]:
df["Availability Status"] = df["Availability Status"].apply(lambda x : str(x).lower() == "available")

In [13]:
df.head()

,Facility provided,District.1,Name of the Organisation/Contact Person,Location,Contact number,Verification Status,Verification time,Availability Status,Comments,Status
0,Beds,Kolkata district,Doctor's group Dr.B.B.Banerjee,NaN,"03323576001, 6291215847, 6290648755, 7003481227",Phone not reachable,5/1/2021 12:33:43,False,NaN,NaN
1,Beds,North 24 Parganas district (Uttar 24 Parganas),Ashoknagar SGH,NaN,For admission call 1800313444222- Swasthya Bhawan,Phone not reachable,5/1/2021 12:33:43,True,Available as per government sheet,NaN
2,Beds,North 24 Parganas district (Uttar 24 Parganas),Baranagar SGH,Baranagar,For admission call 1800313444222- Swasthya Bha...,Phone not reachable,5/1/2021 12:33:43,True,Available as per government sheet,Duplicate
3,Beds,Kolkata Central,Beleghata ID,Phoolbagan,"(033) 2303 2200,For admission call 18003134442...",Phone not reachable,5/1/2021 12:33:43,True,NaN,NaN
4,Beds,NaN,Bongaon SDH,NaN,For admission call 1800313444222- Swasthya Bhawan,Phone not reachable,5/1/2021 12:33:43,False,NaN,Duplicate

In [14]:
from textblob.en import Spelling        
from textblob import TextBlob

pathToFile = "train_district.txt"
spelling_district = Spelling(path = pathToFile)


def filter_district_name(name):
    result  = []
    name.replace("."," ")
    
    if "-" in name:
        name = name.split("-")
    else:
        name = name.split(" ")
        
    for i in name:
        i = i.lower().strip()
        # Replace the initals W. N. S. E.
        if i == "n":
            i = "north"
        elif i == "s":
            i = "south"
        elif i == "e":
            i = "east"
        elif i == "w":
            i = "west"
        elif i == "pgs":
            i = "parganas"
            
        print(i)
        word, percentage = spelling_district.suggest(i)[0]
        if percentage > 0:
            word.strip()
            # Correct with different spelling that can be used in DB specification
            if word == "midnapore":
                word = "medinipur"
            elif word == "burdwan":
                word = "bardhaman"
            elif word == "hugli":
                word = "hooghly"
            
            result.append(word.title())
    
                
    if "Bardhaman" in result:
        if "West" in result:
            result[0] = "Paschim"

        elif "East" in result:
            result[0] = "Purba"
            
    return ' '.join(result)

In [15]:
for i in df["District.1"]:
    print(f"{i}  {filter_district_name(i)}")

kolkata
district
Kolkata district  Kolkata
north
24
parganas
district
(uttar
24
parganas)
North 24 Parganas district (Uttar 24 Parganas)  North 24 Parganas Uttar 24 Parganas
north
24
parganas
district
(uttar
24
parganas)
North 24 Parganas district (Uttar 24 Parganas)  North 24 Parganas Uttar 24 Parganas
kolkata
central
Kolkata Central  Kolkata Central

AttributeError: 'float' object has no attribute 'replace'